button {
  background-color: transparent; /* làm nút trong suốt */
  border: none;
  color: white;
  cursor: pointer;
}
.addButton {
  background-color: #4caf50 !important; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.todoItem {
  margin-top: 20px;
  border-bottom: 1px solid #4caf50;
  display: flex;
  justify-content: space-between; /* chữ trái, nút phải */
  align-items: center;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;

  .todoText {
    flex: 1;
    text-align: left; /* đảm bảo luôn canh trái */
  }

  .actions {
    display: flex;
    gap: 10px; /* khoảng cách giữa các nút */
  }

  .deleteButton {
    background-color: transparent;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 16px;
    padding: 4px 8px;
    transition: 0.2s;

    &:hover {
      text-decoration: underline;
      transform: scale(1.05);
    }
  }

  .editButton {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #45a049;
      transform: scale(1.05);
    }
  }
}
